<!-- Navbar -->
<nav
    aria-label="secondary"
    class="sticky top-0 z-10 flex items-center justify-between bg-white px-6 py-2 transition-transform duration-500 dark:bg-dark-eval-1"
    :class="{
        '-translate-y-full': scrollingDown,
        'translate-y-0 shadow-lg': scrollingUp,
    }"
>
    <div class="flex items-center gap-2">
        <!-- Quick actions menu -->
        <div x-dropdown>
            <button
                x-dropdown:trigger
                type="button"
                class="inline-flex select-none items-center rounded-md bg-white p-2 font-medium text-gray-500 transition-colors hover:bg-gray-100 focus:outline-none focus:ring focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-white disabled:cursor-not-allowed disabled:opacity-50 dark:bg-dark-eval-1 dark:text-gray-400 dark:hover:bg-dark-eval-2 dark:hover:text-gray-200 dark:focus:ring-offset-dark-eval-2"
            >
                <span class="sr-only">Quick actions</span>

                <span class="iconify h-6 w-6 tabler--sparkles"></span>
            </button>

            <div x-dropdown:menu="{ align: 'left' }" class="z-50 mt-2 w-48 rounded-md shadow-lg">
                <div class="rounded-md bg-white py-1 ring-1 ring-black ring-opacity-5 dark:bg-dark-eval-2">
                    <a
                        href="#"
                        class="flex items-center gap-2 px-4 py-2 text-gray-800 transition duration-150 ease-in-out hover:bg-primary hover:text-white focus:bg-primary focus:text-white focus:outline-none dark:text-gray-300 dark:hover:bg-primary dark:hover:text-white dark:focus:bg-primary dark:focus:text-white"
                    >
                        <span aria-hidden="true" class="iconify h-4 w-4 tabler--users"></span>
                        <span class="text-sm leading-5">Manage users</span>
                    </a>

                    <a
                        href="#"
                        class="flex items-center gap-2 px-4 py-2 text-gray-800 transition duration-150 ease-in-out hover:bg-primary hover:text-white focus:bg-primary focus:text-white focus:outline-none dark:text-gray-300 dark:hover:bg-primary dark:hover:text-white dark:focus:bg-primary dark:focus:text-white"
                    >
                        <span aria-hidden="true" class="iconify h-4 w-4 tabler--settings-cog"></span>
                        <span class="text-sm leading-5">Site settings</span>
                    </a>

                    <a
                        href="#"
                        class="flex items-center gap-2 px-4 py-2 text-gray-800 transition duration-150 ease-in-out hover:bg-primary hover:text-white focus:bg-primary focus:text-white focus:outline-none dark:text-gray-300 dark:hover:bg-primary dark:hover:text-white dark:focus:bg-primary dark:focus:text-white"
                    >
                        <span aria-hidden="true" class="iconify h-4 w-4 tabler--circle"></span>
                        <span class="text-sm leading-5">Action 3</span>
                    </a>

                    <a
                        href="#"
                        class="flex items-center gap-2 px-4 py-2 text-gray-800 transition duration-150 ease-in-out hover:bg-primary hover:text-white focus:bg-primary focus:text-white focus:outline-none dark:text-gray-300 dark:hover:bg-primary dark:hover:text-white dark:focus:bg-primary dark:focus:text-white"
                    >
                        <span aria-hidden="true" class="iconify h-4 w-4 tabler--circle"></span>
                        <span class="text-sm leading-5">Action 4</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Search button -->
        <button
            type="button"
            class="hidden select-none items-center rounded-md bg-white p-2 font-medium text-gray-500 transition-colors hover:bg-gray-100 focus:outline-none focus:ring focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-white disabled:cursor-not-allowed disabled:opacity-50 dark:bg-dark-eval-1 dark:text-gray-400 dark:hover:bg-dark-eval-2 dark:hover:text-gray-200 dark:focus:ring-offset-dark-eval-2 md:inline-flex"
        >
            <span class="sr-only">Search</span>

            <span class="iconify h-6 w-6 tabler--search"></span>
        </button>
    </div>

    <div class="flex items-center gap-2">
        <!-- Settings button -->
        <button
            type="button"
            class="inline-flex select-none items-center rounded-md bg-white p-2 font-medium text-gray-500 transition-colors hover:bg-gray-100 focus:outline-none focus:ring focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-white disabled:cursor-not-allowed disabled:opacity-50 dark:bg-dark-eval-1 dark:text-gray-400 dark:hover:bg-dark-eval-2 dark:hover:text-gray-200 dark:focus:ring-offset-dark-eval-2"
        >
            <span class="sr-only">Settings</span>

            <span class="iconify h-6 w-6 tabler--settings"></span>
        </button>

        <!-- Notifications button -->
        <button
            type="button"
            class="inline-flex select-none items-center rounded-md bg-white p-2 font-medium text-gray-500 transition-colors hover:bg-gray-100 focus:outline-none focus:ring focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-white disabled:cursor-not-allowed disabled:opacity-50 dark:bg-dark-eval-1 dark:text-gray-400 dark:hover:bg-dark-eval-2 dark:hover:text-gray-200 dark:focus:ring-offset-dark-eval-2"
        >
            <span class="sr-only">Notifications</span>

            <span class="iconify h-6 w-6 tabler--bell"></span>
        </button>

        <!-- Dark mode button -->
        <button
            type="button"
            class="inline-flex select-none items-center rounded-md bg-white p-2 font-medium text-gray-500 transition-colors hover:bg-gray-100 focus:outline-none focus:ring focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-white disabled:cursor-not-allowed disabled:opacity-50 dark:bg-dark-eval-1 dark:text-gray-400 dark:hover:bg-dark-eval-2 dark:hover:text-gray-200 dark:focus:ring-offset-dark-eval-2"
            @click="$store.darkMode.toggle()"
        >
            <span class="sr-only">Toggle dark mode</span>

            <!-- Moon icon -->
            <span x-show="!$store.darkMode.value" class="iconify h-6 w-6 tabler--moon"></span>

            <!-- Sun icon -->
            <span x-show="$store.darkMode.value" class="iconify h-6 w-6 tabler--sun"></span>
        </button>

        <!-- User dropdown menu -->
        <div x-dropdown>
            <button
                x-dropdown:trigger
                class="inline-flex overflow-hidden rounded-md border-2 border-transparent transition focus:outline-none focus:ring focus:ring-purple-500 focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark-eval-1"
            >
                <img
                    class="h-10 w-10 rounded-md object-cover"
                    src="/images/avatar.jpeg"
                    alt="User Name"
                />
            </button>

            <div 
                x-dropdown:menu.bottom-end 
                class="z-50 w-48 rounded-md shadow-lg"
            >
                <div class="rounded-md bg-white py-1 ring-1 ring-black ring-opacity-5 dark:bg-dark-eval-2">
                    <a
                        href="#"
                        class="block px-4 py-2 text-sm leading-5 text-gray-800 transition duration-150 ease-in-out hover:bg-primary hover:text-white focus:bg-primary focus:text-white focus:outline-none dark:text-gray-300 dark:hover:bg-primary dark:hover:text-white dark:focus:bg-primary dark:focus:text-white"
                    >
                        Profile
                    </a>

                    <a
                        href="#"
                        class="block px-4 py-2 text-sm leading-5 text-gray-800 transition duration-150 ease-in-out hover:bg-primary hover:text-white focus:bg-primary focus:text-white focus:outline-none dark:text-gray-300 dark:hover:bg-primary dark:hover:text-white dark:focus:bg-primary dark:focus:text-white"
                    >
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Mobile nav -->
<div
    class="fixed inset-x-0 bottom-0 z-30 flex items-center justify-between bg-white px-4 py-4 transition-transform duration-500 dark:bg-dark-eval-1 sm:px-6 md:hidden"
    :class="{
        'translate-y-full': scrollingDown,
        'translate-y-0 shadow-t-lg': scrollingUp,
    }"
>
    <!-- Search button -->
    <button
        type="button"
        class="inline-flex select-none items-center rounded-md bg-white p-2 font-medium text-gray-500 transition-colors hover:bg-gray-100 focus:outline-none focus:ring focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-white disabled:cursor-not-allowed disabled:opacity-50 dark:bg-dark-eval-1 dark:text-gray-400 dark:hover:bg-dark-eval-2 dark:hover:text-gray-200 dark:focus:ring-offset-dark-eval-2"
    >
        <span class="sr-only">Search</span>

        <!-- Search icon -->
        <span class="iconify h-6 w-6 tabler--search"></span>
    </button>

    <!-- Logo -->
    <a href="{{ baseUrl '/' }}">
        <span class="sr-only">K UI dashboard</span>

        {{> partials/logo }}
    </a>

    <!-- Sidebar button -->
    <button
        type="button"
        class="inline-flex select-none items-center rounded-md bg-white p-2 font-medium text-gray-500 transition-colors hover:bg-gray-100 focus:outline-none focus:ring focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-white disabled:cursor-not-allowed disabled:opacity-50 dark:bg-dark-eval-1 dark:text-gray-400 dark:hover:bg-dark-eval-2 dark:hover:text-gray-200 dark:focus:ring-offset-dark-eval-2"
        @click="isSidebarOpen = true"
    >
        <span class="sr-only">Toggle sidebar</span>

        <!-- Menu icon -->
        <span class="iconify h-6 w-6 tabler--menu"></span>
    </button>
</div>
