<div class="rounded-md bg-white p-4 shadow-md dark:bg-dark-eval-1">
    <div class="flex items-center gap-4">
        <div class="p-2 flex-shrink-0 flex items-center justify-center rounded-md {{ color }}">
            <span class="iconify {{ icon }} text-white w-6 h-6"></span>
        </div>

        <div class="flex-1">
            <h4 class="text-xl font-medium">{{ title }}</h4>

            <p class="text-sm font-medium text-gray-500">{{ note }}</p>
        </div>
    </div>
</div>
